// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

$enable-shadows: "true";

$primary: #0fa79f;
$success: #1ac94e;

$box-shadow: 5px 5px 10px #a1a3a4, -5px -5px 10px #ffffff;

$btn-focus-box-shadow: inset 5px 5px 10px #a1a3a4, inset -5px -5px 10px #ffffff;

$input-btn-focus-box-shadow: inset 5px 5px 7px #eef0f2,
    inset -5px -5px 7px #ffffff;

$btn-active-box-shadow: inset 14px 14px 27px #d3d5d6,
    inset -14px -14px 27px #ffffff;

// Variables
@import "variables";

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 50px;

// Bootstrap
@import "~bootstrap/scss/bootstrap";
