// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

$enable-shadows: "true";

$primary: #0fa79f;
$success: #00ff4c44;
$danger: #eb2c6b;

$box-shadow: 6px 6px 12px #bcbcbc, -6px -6px 12px #ffffff;

$input-btn-focus-box-shadow: inset 5px 5px 7px #eef0f2,
    inset -5px -5px 7px #ffffff;

$btn-active-box-shadow: inset 14px 14px 27px #d3d5d6,
    inset -14px -14px 27px #ffffff;

$btn-border-radius: 50px;

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
